body {
    font-family: Roboto;
    color: #4b4b4b;
    text-shadow: 0 0 1px rgb(197, 197, 197);
}
h3 {
    font-size: 16px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10.5px;
    color: white;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

#title {
    margin: 15px;
    font-size: 20px;
    text-align: center;

}

footer {
    font-size: 14px;
    text-align: center;

}