body {
    margin: 0;
    font-family:  Helvetica, 'Open Sans', sans-serif;
}

h3 {
    margin: 0;
    padding-top: 100px;
    font-family:  Lobster, 'Open Sans', sans-serif;
    color: rgba(14, 14, 14, 0.71);
    font-size: 50px;
    z-index: 100000;
}

.main {
    padding: 20px;
    padding-bottom: 1000px;
    z-index: 1001;

}

.main .page-header {
    margin-top: 0;
}

.viewing {
    background: #eee;
    opacity: 0.8;
}

.fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display : block;
    padding: 20px;
    padding-bottom: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;

}

.opac {

    opacity: 1;
}
.overview{
    background: url(../assets/frontpage.jpg) no-repeat center center fixed;
}
.fullscreen-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.pic {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*!* Preserve aspet ratio *!*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*height: 100%;*/
    /**/
    /**/
/*}*/

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%;
    }

    .main {
        padding-right: 40px;
        padding-left: 40px;
        width: 600px;
    }

}


@media (min-width: 0px) and (max-width: 767px)  {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : table-cell;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        height: 100%;
        width: 100%
    }

    .main {
        padding-right: 10px;
        padding-left: 10px;
        width: 100%
    }

    .viewing {
        background: rgba(221, 221, 221, 0.6);
    }
}


.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
    /* top: 33.3333%; */
    width: 3px;
    height: 3px;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    background: #ccc;
    opacity: 0;
}

.arrow-down {
    position:fixed;
    top:90%;
    left:2%;
    cursor: pointer;
    z-index:1002;
    font-size: 60px;
    color: rgba(165, 165, 165, 0.6);
}


.arrow-down:hover {
    color: #0e0e0e;
}

.btn {
    position:fixed;
    cursor: pointer;
    font-size:24px;
    color:darkgray;
    z-index:1003;
    top: 20px;
    left:5px;
}
.btn:hover {
    color: darkblue;
    text-decoration: none;
}

.legend {
    line-height: 16px;
    width: 130px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}